*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #124e78;
    min-height: 100%;
    text-align: center;
}

.header1 h1{
    color: #f0f0c9;
}

p {
    color: #f0f0c9;
}

.header {
    margin-top: 1%;
    text-align: center;
    vertical-align: middle;
    object-position: 50px 10%;
    border-radius: 5px;
    position: relative;
}
.class_image{
    vertical-align: left;
    transform: scale(.7,.7);
}

* {
    padding: 0;
    margin: 0;
}
.fit { /* set relative picture size */
    max-width: 100%;
    max-height: 100%;
}
.center {
    display: block;
    margin: auto;
}

/* making the button

/* Container needed to position the button. Adjust the width as needed */

  
.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f0f0c9;
    color: #124e78;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: sticky;
    bottom: 0;
    width: 50%;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
  }
  
.btn:hover {
    background-color: #f0f0c969;
  }

.input-groupmb-3 {
    font-size: 20px;
    color:#f0f0c9
}


  .header h1 {
    border-radius: 25px;
    background: #EDB219;
    padding: 20px;
    width: 400px;
    height: 80x;
    margin-top: 1%;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.header h2 {
    border-radius: 25px;
    background: #EDB219;
    padding: 20px;
    width: 400px;
    height: 70x;
    margin-top: 1%;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);


}
.cows {
    position: absolute;
    top: 80;
    left: 20%;
    transform: translate(-50%, -50%);
}
.cows2 {
    position: absolute;
    top: 100;
    right: 10%;
    transform: translate(-50%, -50%);
}

.input {

    margin-top: 1%;
    text-align: center;
    vertical-align: left;
    color: white;
    font-size: large;
}

* {
    padding: 0;
    margin: 0;
}



.box2 {

    text-align: center;
    vertical-align: middle;
}
