*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.header {
    margin-top: 1%;
    text-align: center;
    vertical-align: middle;
    
  
}
.class_image{
    vertical-align: left;
    transform: scale(.7,.7);
}


