<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>myScheduleBuilder</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="style.css">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap" rel="stylesheet">


</head>

<body>
  <div class="header">

    <h1><a style="font-size: 45px;">Preferences</a></h1>

    <a style="text-decoration: none; color: rgb(0, 0, 0); font-size: 45px"> <br><br><br></a>
    <h2><a style="color: rgb(0, 0, 0); font-size: 20px">Please enter your preferred break periods!</a></h2>
    <a style="text-decoration: none; color: rgb(0, 0, 0); font-size: 45px"> <br></a>

  </div>
  <div class="cows">
    <img src="cow.916ad908.svg">
  </div>

  <div class="cows2">
    <img src="cow.916ad908.svg">
  </div>

  <div class="input">
    <a style="text-decoration: none; color: rgb(0, 0, 0); font-size: 45px"> <br><br><br></a>
    <form>
      Breaks on Monday in military time (hh/mm), separated by commas:
      <input type="text" ; size="35">

      <h4> <br> <br></h4>


      Breaks on Tuesday in military time (hh/mm), separated by commas:
      <input type="text" ; size="35">

      <h4> <br> <br> </h4>

      Breaks on Wednesday in military time (hh/mm), separated by commas:
      <input type="text" ; size="35">

      <h4> <br> <br> </h4>

      Breaks on Thursday in military time (hh/mm), separated by commas:
      <input type="text" ; size="35">

      <h4> <br> <br></h4>


      Breaks on Friday in military time (hh/mm), separated by commas:
      <input type="text" ; size="35">

      <h4> <br> <br> </h4>
      <input type="submit" ; size="100">
    </form>
  </div>

</body>

</html>